# Python
myenv/
venv/
.venv/
env/
 *.pyc
__pycache__/

# Docker Data
# This is the most important rule. NEVER commit your database.
data/
data/postgres/
.dockerignore

# Secrets
# Never commit your .env files
*.env
.env
.env.*

# Archives
*.zip

# IDE / OS
.idea/
.vscode/
 .DS_Store